*.idea
*.nt
*.o
*.pid
*.project
*.pyc
*.reviewboardrc
*.sass-cache
*.swo
*.swp
*.tmp
*.xcbkptlist
*.xcuserstate
*Breakpoints.xcbkptlist
*UserInterfaceState.xcuserstate
*~
.DS_Store
\#*#

ad_env/*
env/*
kp_env/*
mg_env/*
om_env/*
wm_env/*
ws_env/*
xw_env/*

openminds/.pydevproject
koop/.pydevproject

*/plibraries

debug_data/*
index_*.html

*/flagfiles/*
*/plibraries/*
*/ffiles/*

koop/phonegap/StoryLines/www/static/*
koop/phonegap/StoryLines/www/index_*.html

koop/phonegap/StoryLinesAndroidProject/assets/www/static/*
koop/phonegap/StoryLinesAndroidProject/assets/www/index.html
koop/phonegap/.metadata/*

